<link rel="stylesheet" href="/static/css/header.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<body>
    <script>
        function logout(){
            $.removeCookie('mytoken');
            alert('로그아웃!');
            window.location.href = '/';
        }
    </script>

    <div class="header">
        <div class="logo">
            <img src="/static/Jandi-logo.png" style="margin-right: 30px">
            <h1>오늘의 잔디</h1>
        </div>
        <a href="/cheer" style="text-decoration-line: none">
            <p>응원하기</p>
        </a>
        <a href="/ranks" style="text-decoration-line: none">
            <p>랭킹</p>
        </a>
        <div>
            <button class="logout_btn" onclick="logout()">로그아웃</button>
        </div>
    </div>
</body>